name: GoPostSubmit

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

env:
  # Common versions
  GO_VERSION: '1.24'
  GO_REQUIRED_MIN_VERSION: ''
  GOPATH: '/home/runner/work/cluster-permission/cluster-permission/go'
defaults:
  run:
    working-directory: go/src/github.com/open-cluster-management/cluster-permission

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
          path: go/src/github.com/open-cluster-management/cluster-permission
      - name: install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: test
        run: make test
      - name: report-coverage
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_UPLOAD_TOKEN }}
          files: /home/runner/work/cluster-permission/cluster-permission/go/src/github.com/open-cluster-management/cluster-permission/coverage.out
          flags: unit
          name: unit
          verbose: true
          fail_ci_if_error: true

  images:
    name: images
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
          path: go/src/github.com/open-cluster-management/cluster-permission
      - name: install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: install imagebuilder
        run: go install github.com/openshift/imagebuilder/cmd/imagebuilder@v1.2.3
      - name: pre-build
        run: make pre-build
      - name: images
        run: make docker-build
      - name: push
        run: |
          echo ${{ secrets.DOCKER_PASSWORD }} | docker login quay.io --username ${{ secrets.DOCKER_USER }} --password-stdin
          docker push quay.io/open-cluster-management/cluster-permission:latest
